<% if @errors.present? %>
  	div class="errors">
		<ul>
			<% @errors.each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
  	</div>
<% end %>

<%= form_for @meal_plan do |form| %>
	<%= form.hidden_field :start_date %>
  	<%= form.hidden_field :end_date %>
	<div class="tile is-ancestor has-text-centered">
    <%= form.fields_for :meals, form.object.meals.group_by(&:date) do |meal_fields| %>
		<% if meal_fields.options[:child_index] % 2 == 0  %>
		<div class="tile is-parent is-vertical px-1 my-3">
			<p class="is-size-4" ><%= meal_fields.object.date %> <%= meal_fields.object.date.strftime("%A") %></p>
			<article class="tile is-child box">
				<%= meal_fields.hidden_field :id %>
				<%= meal_fields.hidden_field :date %>
				<div class="select"><%= meal_fields.collection_select :recipe_id, Recipe.all, :id, :title %></div>
			</article>			
		<% else %>
			<article class="tile is-child box">
				<%= meal_fields.hidden_field :id %>
				<%= meal_fields.hidden_field :date %>
				<div class="select"><%= meal_fields.collection_select :recipe_id, Recipe.all, :id, :title %></div>
			</article>
		</div>	
		<% end %>
    <% end %>
	</div>
	<div class="field is-grouped">
		<div class="control">
			<%= form.submit class:'button is-info is-light'%>
		</div>
	</div>					

<% end %>





