
<!DOCTYPE html>
<html>
  <head>
    <title>Comida</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<body  class="has-navbar-fixed-top" >
	
	<%= render 'shared/navbar' %>
	
	<div class="container is-fluid">
		<div class="columns">
			<div class="column is-2 mt-3">
				<%= render 'shared/sidebar' %>
			</div>
			<div class="column is-10">
				<%= yield %>
			</div>
		</div>
	</div>
</body>

</html>
